<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.gov.dft.bluebadge.service.payment.repository.mapper.PaymentMapper">

    <insert id="createPayment" parameterType="PaymentEntity">
        INSERT INTO payment.payment
        (payment_journey_uuid, payment_id, la_short_code, reference, cost, status)
        VALUES (
        #{paymentJourneyUuid,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.service.payment.repository.UuidTypeHandler},
        #{paymentId}, #{laShortCode}, #{reference},#{cost},#{status}
        )
    </insert>

    <update id="updatePayment" parameterType="PaymentEntity">
        UPDATE payment.payment set
          status = #{status}
        WHERE
          payment_journey_uuid = #{paymentJourneyUuid,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.service.payment.repository.UuidTypeHandler}
    </update>

    <resultMap id="paymentEntityMap" type="PaymentEntity">
        <result column="payment_journey_uuid" property="paymentJourneyUuid"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="payment_id" property="paymentId" />
        <result column="la_short_code" property="laShortCode" />
        <result column="reference" property="reference" />
        <result column="cost" property="cost" />
        <result column="status" property="status" />
    </resultMap>
    <select id="selectPaymentByUuid" resultType="PaymentEntity" resultMap="paymentEntityMap" parameterType="string" >
        SELECT  payment_journey_uuid, payment_id, la_short_code, reference, cost, status
        FROM payment.payment
        WHERE payment_journey_uuid = #{paymentJourneyUuid}::UUID
    </select>

</mapper>